:root{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	
	/*Theme Colors*/
	--text-primary:	#b6b6b6;
	--text-secondary: #ececec; 
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--main-bg-color: #322332;
	--secd-bg-color: #422223;
	--text-color-one: white; 
	--icon-color-main: #ff77cc;

	/*Speed*/
	--transition-speed-navbar:600ms;
}

body {
  background     : var(--main-bg-color);
  justify-content: center;
  margin:0;
  padding:0;
}

main {
	margin-left:5rem;
	padding: 1rem;
}



.navbar{
	position: fixed;
	background : var(--bg-primary);	
	transition: 200ms ease;
}

.navbar-nav{
	list-style:none;
	padding:0;
	margin:0;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
}

.nav-item{
	width:100%;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration:none;
	filter: grayscale(100%) opacity(0.6);
	transition: var(--transition-speed-navbar);
}
.logo .nav-link:hover{
	background: black;
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}


.link-text {
	display:none;
	margin-left: 1rem;
}

.nav-link svg{
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

svg path{
	color:var(--icon-color-main);
	transition: var(--transition-speed-navbar);
}

.logo .nav-link{
	filter:none;
}

.logo{
	color: var(--text-secondary);
	background: var(--secd-bg-color);
}

.logo-text{
	color:#ececec;
	display:inline;
	position:absolute;
	left: -900px;
	transition:var(--transition-speed-navbar);
}


/****Navbar for Small Screens*/
@media only screen and (max-width:600px) {
	.navbar{
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}
	
	
	
	
	.navbar-nav {
		flex-direction:row;
	}
	
	.nav-link {
		justify-content: center;
	}
	
	main{margin:0}
}
/****Navbar for Large Screens*/
@media only screen and (min-width:600px) {
	.navbar{
		top:0;
		width: 5rem;
		height: 100vh;
	}
	.navbar:hover{
		width:18rem;
	}
	.navbar:hover .link-text{
		display:block;
		filter:none;
	}
	.navbar:hover .logo svg{
		margin-left: 11rem;
	}

	.navbar:hover .logo-text{
		left: 0px;
    }

	.logo svg {
		transform: rotate(0deg);
		transition: var(--transition-speed-navbar);
	}

	.navbar:hover .logo svg {
		margin-left:14.5rem;
		transform: rotate(-180deg);
	}

	.logo{
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1rem;
		text-align: center;
		font-size: 1.5rem;
		letter-spacing: 0.3ch;
		width: 100%;
	}
}

/*Theme elements*/
.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --main-bg-color: #322332;
  --text-color-one: white;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --main-bg-color: #cddccd;
  --text-color-one: black;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}





/*	***		CSS for the game	***		*/

.game-box-container {
  display              : grid;
  justify-content      : center; 
  grid-template-columns: repeat(3, 12vh);
  grid-template-rows   : repeat(3, 12vh);
}

.game-box {
  display      : grid;
  border       : 1px solid black;
  align-items  : center;
  justify-items: center;
  transition :background 1000s;
}

.game-box:hover {
	background:rgba(200,200,200,0.4);
}

.blue:after {
  font-size: 6vh;
  color    : blue;
  content  : "X";
  
}

.green:after {	
  font-size: 6vh;
  content  : "X";
  color    : green;
}

.game-info {
  color          : var(--text-color-one);
  font-size      : 1.2rem;
  text-transform : uppercase;
  padding		 : 0;
  margin		 : 6vh auto;
}

.title {
  display        : flex;
  font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
  justify-content: center;
  margin         : 10vh auto;
  color          : var(--text-color-one);
  font-size      : 2rem;
  letter-spacing : 0.3ch;
}

.new-game {
  display        : flex;
  justify-content: center;
}

#new-game-btn {
  margin    : 6vh auto;
  font-size : 1rem;
  padding   : 0.5rem 2rem;
  height    : 0.5 rem;
  background: var(--bg-primary);
  color     : var(--icon-color-main);
  border    : 1px solid black;
  cursor    : pointer;
  border-radius:3vh;
  text-transform : uppercase;
  opacity:1;
  transition: background 0.3s, border-width 0.2s, opacity 2s;
}

#new-game-btn:hover {
  background: black;;
  border-width:3px;
}

.selected:hover{
	background:none;
}