:root{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
/***Variables***/	
	/*Theme Colors*/
	--text-primary:	#b6b6b6;
	--text-secondary: #ececec; 
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--main-bg-color: #322332;
	--text-color-one: white; 
	--border-clr:white;
	/*Constant Colors*/
	--icon-color-main: #ff77cc;
    --icon-color-bg: #422223;
	/*Speed*/
	--transition-speed-navbar:600ms;
	/*Size*/
	--border-wght: 2px;
}

/***Dark and Light Theme Variables***/
	
.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --main-bg-color: #322332;
  --text-color-one: white;
  --border-clr:white;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --main-bg-color: #cddccd;
  --text-color-one: black;
  --border-clr:black;
}



body {
  background     : var(--main-bg-color);
  justify-content: center;
  margin:0;
  padding:0;
}

main {
	position:relative;
	margin-left:5rem;
	padding: 1rem;
}


/***Navbar Styling***/
.navbar{
	position: fixed;
	background : var(--bg-primary);	
	transition: 200ms ease;
}

.navbar-nav{
	list-style:none;
	padding:0;
	margin:0;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
}

.nav-item{
	width:100%;
}

.nav-item:last-child {
	margin-top: auto;
}


.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration:none;
	filter: grayscale(100%) opacity(0.6);
	transition: var(--transition-speed-navbar);
}

.logo .nav-link:hover{
	background: black;
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}


.logo .nav-link{
	filter:none;
}

.logo{
	color: var(--text-secondary);
	background: var(--icon-color-bg);
}


.link-text {
	display:none;
	margin-left: 1rem;
}

.logo-text{
	color:#ececec;
	display:inline;
	position:absolute;
	left: -900px;
	transition:var(--transition-speed-navbar);
}

.logo svg {
		transform: rotate(0deg);
		transition: var(--transition-speed-navbar);
	}

.navbar:hover .logo svg {
	transform: rotate(-180deg);
}

.nav-link svg{
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

svg path{
	color:var(--icon-color-main);
	transition: var(--transition-speed-navbar);
}





/*	***		CSS for the game	***		*/

.game-box-container {
  position: absolute;
  opacity:0;
  top:0; left:0;
  margin-left:50%; margin-top:50vh;
  transform: translate(-50%,-50%);
  display              : grid;
  justify-content      : center; 
  grid-template-columns: repeat(3, 12vh);
  grid-template-rows   : repeat(3, 12vh);
}

.game-box-container.appear {
	transition:900ms;
	opacity:1;
}

.game-box {
 

  display      : grid;
  align-items  : center;
  justify-items: center;
  transition   : filter 600ms;
  
  border-radius:10px;
  
  /*for preventing double borders*/
  border-bottom:var(--border-clr) var(--border-wght) solid;
  border-left:var(--border-clr) var(--border-wght) solid;
}

.game-box:nth-child(1),.game-box:nth-child(2),.game-box:nth-child(3) {border-top:var(--border-clr) var(--border-wght) solid;}
.game-box:nth-child(3),.game-box:nth-child(6),.game-box:nth-child(9) {border-right:var(--border-clr) var(--border-wght) solid;}


.game-box:hover {
	filter:opacity(0.5);
}

.blue:after {
  font-size: 6vh;
  color    : blue;
  content  : "X";
  
}

.green:after {
  font-size: 6vh;
  content  : "X";
  color    : green;
  
}

.selected:after{
	transition:var(--transition-speed-navbar);
	filter:opacity(1);
}



.game-info {
  position:fixed;
  bottom:0;
  color          : var(--text-color-one);
  font-size      : 1.2rem;
  text-transform : uppercase;
  font-weight:600;
  padding		 : 0;
  margin		 : 6rem auto;
  
  transition: all 200ms;
}

.game-info.change {
	opacity:0
}

.title {
  display        : flex;
  font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
  justify-content: center;
  margin         : 15vh auto;
  margin-bottom :5vh;
  color          : var(--text-color-one);
  font-size      : 2rem;
  letter-spacing : 0.3ch;
}

.new-game {
  display        : flex;
  justify-content: center;
}

#new-game-btn {
  position: absolute;
  top:0; left:0;
  margin-left:50%; margin-top:50vh;
  transform: translate(-50%,-50%);
  height    : 20vh;
  color     : var(--icon-color-main);
  cursor    : pointer;
  border-radius:50%;	
  text-transform : uppercase;
  opacity:1;
  background: var(--main-bg-color);
  transition: all 400ms;
}

#new-game-btn.disappear{
	filter:opacity(0);
	z-index:-1;
}
#new-game-btn:hover {
  background: var(--icon-color-bg);
  
}

.selected:hover{
	filter:none;
}

/****Navbar for Large Screens*/
@media only screen and (min-width:600px) {
	.navbar{
		top:0;
		width: 5rem;
		height: 100vh;
	}
	.navbar:hover{
		width:18rem;
	}
	.navbar:hover .link-text{
		display:block;
		filter:none;
	}
	.navbar:hover .logo svg{
		margin-left: 11rem;
	}

	.navbar:hover .logo-text{
		left: 0px;
    }
	
	.navbar:hover .logo svg {
		margin-left:14.5rem;
	}

	.logo{
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1rem;
		text-align: center;
		font-size: 1.5rem;
		letter-spacing: 0.3ch;
		width: 100%;
	}
}

/****Navbar for Small Screens*/
@media only screen and (max-width:600px) {
	.navbar{
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}
	
	
	
	
	.navbar-nav {
		flex-direction:row;
	}
	
	.nav-link {
		justify-content: center;
	}
	
	main{margin:0}
	
	.title{margin-top:10vh;}
}

/*Theme elements*/
.theme-icon {
  display: none;
  transition:600ms;
}

.dark .theme-icon {
  display: block;
  transform:rotate(0deg);
}

.light .theme-icon {
  display: block;
  transform:rotate(-180deg);
}
